:root {
    --primary-color: #81A1C1;
    --primary-color-rgb: 129,161,193;
    --background-color: #4C566A;
    --text-color: #ECEFF4;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: #ECEFF4;
    font-size: 18px;
    line-height: 1.8;
}

.wrapper {
    width: 100%;
    max-width: 30rem;
    margin: 10vh auto;
    padding: 1rem 1rem;
}

.title {
    padding: 1rem;
    text-align: center;
    line-height: 1.1;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title .first {
    text-align: left;
}

.title .last {
    text-align: right;
}

.week-number {
    font-size: 140%;
}

.progress-bar .bar {
    overflow: hidden;
    z-index: 2;
    text-align: center;
    position: relative;
    width: 100%;
    height: 2rem;
    border-radius: 50px;
    border: 1px solid var(--text-color);
}

.progress-bar .progress {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: var(--primary-color);
    box-shadow: 2px 14px 15px -7px rgba(var(--primary-color-rgb), 0.36);
    transition: width 5s ease;
}

.progress-bar .description {
    font-size: .9rem;
    text-align: center;
}

ul {
    padding-left: 1rem;
}

footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

footer a {
    color: #81A1C1;
}
